.list {
    display: flex;
    gap: 10px;
    font-size: 20px;
}

@media (max-width: 480px) {
    .list {
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 80px;
        background-color: white;
        padding: 20px 0;
    }
}