.card_area {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: rgb(235, 231, 231);

    img{
        height: 340px;
        width: 340px;
    }

    p{
        font-size: 15px;
        color: gray;
    }

    h4{
        font-size: 17px;
    }

    button{
        padding: 10px;
        font-size: 17px;
        color: white;
        background-color: black;
        width: 150px;
        margin: 10px 0;
    }
}