.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px 70px;
    position: fixed;
    top: 0;
    background-color: aliceblue;
}

.nav_right{
    display: flex;
    gap: 10px;
}

.nav_right_res{
    display: none;
}


@media (max-width: 576px) {
    .nav_right {
        display: none;
    }
    .nav_right_res{
        display: block;
        position: relative;
    }
}